<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/new.css" />
<%- include('../partials/nav') %>


<main>
  <h1>Edit Album</h1>
  <form action="/albums/<%= album._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= album.name %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Release Year:
      <input 
      type="text"
      name="release-year-input"
      value="<%= album.releaseYear %> "
      autocomplete="off"
      >
    </label>
    <label>
      Image:
      <input 
      type="url"
      name="imageURL"
      value="<%= album.imageURL %> "
      autocomplete="off"
      >
    </label>
    <label>
      Review:
    </label>
    <textarea
    name="content"  
    cols="30" 
    rows="10"
    value="<%= album.review %> "
    autocomplete="off"
    ></textarea>
    

    
    <button type="submit">Finish</button>
  </form>
</main>

<%- include("../partials/footer") %>