<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/new.css" />
<%- include('../partials/nav') %>


<main>
  <h1>Edit the album</h1>
  <form action="/albums/<%= album._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= album.name %>" 
        autocomplete="off"
      >
    </label>
    
    <button type="submit">Finish</button>
  </form>
</main>

<%- include("../partials/footer") %>