<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/index.css" />
<%- include('../partials/nav') %>
<main>
  <div>
    <% albums.forEach (album => { %>
  <a href="/albums/<%= album._id %> "><%= album.name %> </a>
  <% }) %> 
  </div>
</main>
<%- include("../partials/footer") %>