<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/show.css" />
<%- include('../partials/nav') %>
<main>
  <div>
  <h1><%= album.name %></h1>
  <img src=" <%= album.imageURL %>" alt="album_img" id="album-img">
  <section>
    <% if (user) { %>
    
        <% if (album.owner?.equals(user?.profile._id)) { %> 
        <a href="/albums/<%= album._id %>/edit">
          <button class="btn">Edit Review</button>
        </a>
        <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
          <button class="btn" type="submit">Delete Album</button>
        </form>
        <% } %> 
      </form>
      <h2>Comments</h2>
      <% if (user) { %>
        <h3>Add a comment</h3>
        <form 
        action="/albums/<%= album._id %>/comments" method="POST">
        <textarea name="content"></textarea><br>
        <button id="add-comment">Add Comment</button>
      </form>
          <% album.comments?.forEach(comment => { %>
            <%= comment.content %> - <%= comment.commenter.name %> 
              <% if (comment.commenter.equals(user?.profile._id)) { %>
                <!-- <a href="/albums/<%= album._id %>/comments/<%= comment._id %>/edit">  
                  <button class="btn">Edit Comment</button>
              </a> -->
              <form 
              action="/albums/<%= album._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="inline">
              <button class="btn" type="submit">Delete Comment</button>
            </form>
              <% } %>
          <% }) %>
      <%  } %>
    <% } %> 
  </section>
  </div>
</main>
<%- include("../partials/footer") %>